@font-face {
    src: url(Fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
    font-family: Geologica;
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Geologica;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#intro-section {
    /*border: 3px solid white;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
}

.welcome-message {
    /*border: 3px solid white;*/
    color: white;
    font-size: 5em;
    display: flex;
    align-items: center;
    text-align: center;
    float: left;
    font-family: Geologica;
}

#headshot {
    height: 350px;
}

#bio {
    /*border: 3px solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 200px;
    font-family: Geologica;
}

.projects {
    /*border: 3px solid white;*/
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects div{
    margin-bottom: 100px;
}

.project-description{
    /*border: 1px solid white;*/
    margin-bottom: 20px;
}
.project-description h2,p{
    font-family: Geologica;
    text-align: center;
}

.project-description h2{
    margin-bottom: 75px;
}

.project-description p{
    width: 500px;
}

#food-court-frenzy{
    /*border: 3px solid white;*/
    width: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#food-court-frenzy img{
    height: 350px;
    float: left;
}

.experiences{
    /*border: 3px solid white;*/
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiences h2,p {
    font-family: Geologica;
    text-align: center;
}

.experiences h2 {
    margin-bottom: 75px;
}

.experiences p {
    width: 500px;
    display: flex;
}

#robotics-club {
    display: flex;
    font-family: Geologica;
    color: white;
    text-align: center;
    flex-direction: column;
}