* {
    box-sizing: border-box;
}

@font-face {
    src: url(Fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
    font-family: Geologica;
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Geologica;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#intro-section {
    /*border: 3px solid white;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.welcome-message {
    /*border: 3px solid white;*/
    color: white;
    font-size: 3em;
    display: flex;
    align-items: center;
    text-align: center;
    float: left;
    font-family: Geologica;
}

#headshot {
    height: 425px;
}

#bio {
    /*border: 3px solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2em;
    margin: 100px;
    font-family: Geologica;
}

main{
    display: flex;
    flex-direction: column;
    color:white;
}

.project-container {
    /* border: 3px solid white; */
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project{
    border: 3px outset rgb(54, 54, 54);
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px dashed white; */
    font-family: Geologica;
    text-align: center;
    align-content: space-evenly;
}

.project-description p{
    width: 500px;
}

#food-court-frenzy{
    /*border: 3px solid white;*/
    display: flex;
    box-shadow: 0px 0px 10px rgb(53, 53, 53);
}

#food-court-frenzy img{
    height: 350px;
    float: left;
}

.experiences-container {
    /* border: 3px solid white; */
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.experience {
    border: 3px outset rgb(54, 54, 54);
    height: 400px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.experience-description {
    font-family: Geologica;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px dashed white; */
    font-family: Geologica;
    text-align: center;
    align-content: space-evenly;
    margin: 20px;
}

.experience-description p {
    width: 500px;
}

.experience-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 750px;
}
.experience-images img{
    width: 45%;
    height: 35%;
    margin: 10px;
}



